.m-control-panel.m-attributions.opened .attributionElements:nth-child(even) {
    background-color: transparent !important;
}

.m-control-panel.m-attributions.opened .attributionElements span {
    font-weight: bold;
    margin-right: 5px;
}

.m-control-panel.m-attributions.opened {
    font-size: 12px;
    color: #000 !important;
    white-space: nowrap;
}

.m-control-panel.m-attributions.opened div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.m-control-panel.m-attributions.opened p,
.m-control-panel.m-attributions.opened header {
    margin: 0;
    padding: 0;
}

.m-control-panel.m-attributions.opened header h1 {
    color: var(--idee-color-primary-dark) !important;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/************* ATTRIBUTIONS *************/
/* Cuando está abierto el contenedor */
.m-control-panel.m-attributions.opened .m-attributions {
    min-width: 150px;
    padding: 1.25rem 1rem;
}

.m-control-panel.m-attributions.opened>.m-controls-panel>#m-attributions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 1rem;
}

.m-control-panel.m-attributions-translucent>.m-controls-panel {
    background-color: color-mix(in srgb, var(--idee-color-white) 65%, transparent);
}

.m-control-panel.m-attributions-inline.opened>.m-controls-panel {
    overflow: auto;
}

.m-control-panel.m-attributions-inline.opened>.m-controls-panel>#m-attributions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25rem;
}

.m-control-panel.m-attributions-inline.opened .attributionElements {
    display: inline;
    white-space: nowrap;
}

.m-control-panel.m-attributions-inline.opened header>h1 {
    display: none;
}

.m-control-panel.m-attributions-inline.opened header,
.m-control-panel.m-attributions-inline.opened .attributionElements {
    font-size: x-small;
    width: fit-content;
}

.m-control-panel.m-attributions-inline.opened .attributionElements>a,
.m-control-panel.m-attributions-inline.opened .attributionElements>p {
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px 0 0;
    padding: 0;
}

.m-control-panel.m-attributions.opened .attributionElements a,
.m-control-panel.m-attributions.opened .attributionElements a:visited {
    /* color: var(--idee-color-links) !important;  */
    color: var(--idee-color-primary) !important;
    outline-color: var(--idee-color-primary) !important;
    outline-width: 4px;
    text-decoration: none;
    font-weight: 500;
}

.m-control-panel.m-attributions.opened .attributionElements a:hover {
    color: var(--idee-color-primary-dark) !important;
    text-decoration: underline;
}

.m-control-panel.m-attributions.opened .attributionElements a span {
    color: #000000 !important;
    font-weight: bold;
    margin-right: 4px;
    text-decoration: none;
    display: inline-block;
}

.m-control-panel.m-attributions.opened .attributionElements a:hover span {
    color: #000000 !important;
    text-decoration: none !important;
}