.m-control-baselayer.m-control-panel.opened.no-collapsible>div.m-controls-panel {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

div.m-control.m-container.m-background>button {
    background-color: var(--idee-color-primary) !important;
    /* border: 2px solid white !important; */
    border-radius: 5px;
    color: white;
    align-items: center;
    height: auto;
    font-size: 12px !important;
    padding: 10px !important;
    font-weight: bold !important;
    width: 75px !important;
}

div.m-control.m-container.m-background>button:first-child {
    margin-left: 0px;
}

.m-background button:active,
.m-background button:focus {
    outline: none;
}

div.m-panel.opened.m-plugin-baselayer {
    background-color: transparent !important;
    box-shadow: none !important;
    order: -10;
}

div.m-control.m-container.m-background>button.m-background-group-btn.activeBaseLayerButton {
    background-color: var(--idee-color-links) !important;
    /* outline: 1px solid orange; */
}

div.m-control.m-container.m-background>button#m-baselayerselector-unique-btn {
    display: none;
}

@media (max-width: 768px) {
    div.m-control.m-container.m-background>button.m-background-group-btn {
        display: none;
    }

    div.m-control.m-container.m-background>button#m-baselayerselector-unique-btn {
        display: block;
    }
}