.m-control-panel.m-location.opened.no-collapsible>div.m-controls-panel {
    background-color: transparent;
    box-shadow: none;
    border-radius: 50%;
}

.m-control.m-location-container>button#m-location-button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

/* .m-location-container.m-locating>button#m-location-button:before {
    animation: mloading 1s linear infinite;
    position: absolute;
    left: 11px;
    top: 11px;
}

.m-location-container.m-locating>button#m-location-button {
    padding: 8px;
}


.m-location-container>button#m-location-button {
    border: 2px solid white !important;
    border-radius: 50% !important;
} */

/* DELETE AFTER FIX */

/* MICROSOFT EDGE HACK */

@supports (-ms-ime-align:auto) {
    .m-location-container.m-locating>button#m-location-button {
        height: 36px;
        /* This fixes height, breaks align. */
    }

    .m-location-container.m-locating>button#m-location-button:before {}
}