.m-api-idee-left-buttons,
.m-api-idee-right-buttons {
    position: absolute;
    width: 46px;
    height: calc(100% - 72px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .5em;
    gap: .5em;
    flex-wrap: wrap;
}

.m-api-idee-left-buttons {
    left: 0;
}

.m-api-idee-right-buttons {
    right: 0;
}

.m-plugin-button, .m-control-button {
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: var(--idee-color-primary);
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.3s ease;
}

.m-plugin-button:hover, .m-control-button:hover {
    background-color: var(--idee-color-links);
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

.m-plugin-button.active, .m-control-button.active {
    color: #fff;
    background-color: var(--idee-color-primary-dark);
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

.m-plugin-button svg, .m-control-button svg {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.m-plugin-button.active svg {
    transition: transform 0.3s ease;
}
