
@layer base {
    html:has(>body>.m-api-idee-test-form-frame) [class^="g-cartografia"]::before,
    html:has(>body>.m-api-idee-test-form-frame) [class*=" g-cartografia-"]::before,
    .m-api-idee-container [class^="g-cartografia"]::before,
    .m-api-idee-container [class*=" g-cartografia-"]::before {
        content: '' !important;
        display: block;
        margin: auto;
        width: 24px;
        aspect-ratio: 1;
        background-color: currentColor;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

    .g-cartografia-brujula-norte::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_brujula.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_brujula.svg');
    }
    
    .g-cartografia-capas2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_capas.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_capas.svg');
    }
    
    .g-cartografia-comments-simple::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_notas.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_notas.svg');
    }
    
    .g-cartografia-gps2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_posicion.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_posicion.svg');
    }
    
    .g-cartografia-notification::before,
    .g-cartografia-info::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_attention.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_attention.svg');
    }
    
    .g-cartografia-featureInfo:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_infoCoor.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_infoCoor.svg');
    }
    
    .g-cartografia-papelera:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_papelera.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_papelera.svg');
    }
    
    .g-cartografia-papelera-2:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_papelera.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_papelera.svg');
    }
    
    .g-cartografia-cancelar::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_cruz.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_cruz.svg');
    }
    
    .g-cartografia-cancelar3::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_cruzPeq.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_cruzPeq.svg');
    }
    
    .g-cartografia-implementacion::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_implementationswitcher.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_implementationswitcher.svg');
    }

    .g-cartografia-flecha-arriba::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
        transform: rotate(180deg);
    }

    .g-cartografia-btn-layerswitcher-caret::before,
    .g-cartografia-btn-layerswitcher-caret-close::before,
    .g-cartografia-btn-layerswitcher-desplegar::before,
    .g-cartografia-btn-layerswitcher-colapsar::before,
    .vectorsmanagement-icon-selector-arrow-up:before,
    .vectorsmanagement-icon-selector-arrow-down:before,
    .g-cartografia-flecha-abajo::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
    }

    .g-cartografia-flecha-derecha::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
        transform: rotate(270deg);
    }

    .g-cartografia-flecha-izquierda::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron.svg');
        transform: rotate(90deg);
    }
    
    .g-cartografia-flecha-arriba2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
        transform: rotate(180deg);
    }
    
    .g-cartografia-flecha-derecha2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
        transform: rotate(270deg);
    }
    
    .g-cartografia-flecha-abajo2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
    }
    
    .g-cartografia-flecha-izquierda2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_chevron_small.svg');
        transform: rotate(90deg);
    }
    
    .g-cartografia-mas2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_geometria.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_geometria.svg');
    }
    
    .g-cartografia-mundo::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_overview.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_overview.svg');
    }
    
    .g-cartografia-poligono::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_superficial.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_superficial.svg');
    }

    .g-cartografia-zoom::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_lupa.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_lupa.svg');
    }
    
    .g-cartografia-control-pausa::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_pausa.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_pausa.svg');
    }
    
    .g-cartografia-control-siguiente::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_play.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_play.svg');
    }
    
    .g-cartografia-measure-area::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_area.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_area.svg');
    }
    
    .g-cartografia-measure-length::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_distancias.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_distancias.svg');
    }

    .g-cartografia-gestion-reloj2::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_timeline.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_timeline.svg');
    }

    .g-cartografia-regla::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_medida.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_medida.svg');
    }

    .g-cartografia-btn-comparators-transparency::before,
    .g-cartografia-btn-layerswitcher-target::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_posicion.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_posicion.svg');
    }

    .g-cartografia-btn-infocoordinates-removePoint::before,
    .g-cartografia-btn-infocoordinates-removeAllPoints::before,
    .g-cartografia-btn-layerswitcher-delete::before,
    .vectorsmanagement-icon-papelera:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_papelera.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_papelera.svg');
    }

    .g-cartografia-btn-infocoordinates-copylatlon::before,
    .g-cartografia-btn-infocoordinates-copyxy::before,
    .g-cartografia-btn-infocoordinates-copyAllPoints::before,
    .g-cartografia-stylemanager-copy::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_copy.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_copy.svg');
    }

    .g-cartografia-btn-infocoordinates-displayAllPoints::before,
    .g-cartografia-btn-layerswitcher-ver::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_ojoLine.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_ojoLine.svg');
    }

    .g-cartografia-btn-infocoordinates-displayAllPoints.hidden::before,
    .g-cartografia-btn-layerswitcher-ocultar::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_ojoOculto.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_ojoOculto.svg');
    }

    .g-cartografia-btn-infocoordinates-help::before,
    .g-cartografia-btn-mousesrs-help::before,
    .vectorsmanagement-icon-ayuda:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_ayuda.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_ayuda.svg');
    }

    .g-cartografia-btn-layerswitcher-info::before,
    #plugin-panel-locator .g-cartografia-info-consulta:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_info.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_info.svg');
    }

    .g-cartografia-btn-layerswitcher-image::before,
    .g-cartografia-btn-printviewmanagement-georefimage::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_foto.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_foto.svg');
    }

    .g-cartografia-images::before,
    .g-cartografia-btn-printviewmanagement-georefimageepsg::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_fototeca.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_fototeca.svg');
    }

    .g-cartografia-subirArchivo::before,
    .g-cartografia-btn-layerswitcher-upload::before,
    .vectorsmanagement-icon-subir:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_subirArchivo.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_subirArchivo.svg');
    }

    .g-cartografia-btn-layerswitcher-caret::before,
    .g-cartografia-btn-layerswitcher-caret-close::before,
    .g-cartografia-btn-layerswitcher-desplegar::before,
    .g-cartografia-btn-layerswitcher-colapsar::before {
        margin: 0 !important;
    }

    .g-cartografia-btn-layerswitcher-caret-close::before,
    .g-cartografia-btn-layerswitcher-colapsar::before,
    .vectorsmanagement-icon-selector-arrow-up:before {
        transform: rotate(180deg);
    }

    .g-cartografia-btn-layerswitcher-spinner::before,
    .vectorsmanagement-icon-resize-full-alt:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_actualizar.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_actualizar.svg');
    }

    .vectorsmanagement-icon-layers:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_anadirCapas.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_anadirCapas.svg');
    }

    .g-cartografia-layerswitcher-empty-content::before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_anadirCapas.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_anadirCapas.svg');
        width: 92px !important;
        height: 92px;
    }

    .g-cartografia-stylemanager-apply::before,
    .vectorsmanagement-icon-estilo:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_brocha.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_brocha.svg');
    }

    .g-cartografia-stylemanager-chart::before,
    .vectorsmanagement-icon-analisis:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_estadisticas.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_estadisticas.svg');
    }

    .g-cartografia-stylemanager-cluster::before,
    .vectorsmanagement-icon-hole:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_agujero.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_agujero.svg');
    }

    .vectorsmanagement-icon-mover:before,
    .g-cartografia-viewmanagement-icon-expand:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_mover.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_mover.svg');
    }

    .g-cartografia-btn-layerswitcher-zoom::before,
    .g-cartografia-viewmanagement-icon-zoompanel:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_lupa.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_lupa.svg');
    }

    .g-cartografia-btn-comparators-mirrorpanel::before,
    .g-cartografia-viewmanagement-icon-zoom-extension:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_zoom_recuad.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_zoom_recuad.svg');
    }

    .g-cartografia-btn-comparators-windowsync-close::before,
    .vectorsmanagement-icon-cancelar:before {
        -webkit-mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_vent_cerrar.svg');
        mask-image: url('https://componentes.idee.es/estaticos/Simbologia/svg/icons_cota/icn_vent_cerrar.svg');
    }

}