/***********************
     CONTAINER
************************/
.m-api-idee-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', 'sans-serif';
    font-size: 13px;
    background-image:
        linear-gradient(45deg, color-mix(in srgb, var(--idee-color-primary) 25%, transparent) 25%, transparent 25%),
        linear-gradient(-45deg, color-mix(in srgb, var(--idee-color-primary) 25%, transparent) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, color-mix(in srgb, var(--idee-color-primary) 25%, transparent) 75%),
        linear-gradient(-45deg, transparent 75%, color-mix(in srgb, var(--idee-color-primary) 25%, transparent) 75%);
    background-size: 16px 16px;
    background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}

.m-api-idee-map-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.m-api-idee-left-panel,
.m-api-idee-right-panel {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #fff;
    z-index: 3;
}

.m-api-idee-left-panel {
    left: 0;
    box-shadow: 5px 0 10px color-mix(in srgb, var(--idee-color-primary) 30%, transparent);
}

.m-api-idee-center-panel {
    pointer-events: none;
    /* para que no interfiera con controles */
    position: absolute;
    width: calc(100% - 128px);
    height: calc(100% - 72px - 1rem) !important;
    top: 0;
    padding: .5em 0;
    left: 64px;
    height: max-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5em;
}

.m-api-idee-center-panel-top-left {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    pointer-events: auto;
}

.m-api-idee-center-panel-top-right {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    pointer-events: auto;
}

.m-api-idee-center-panel-bottom-left {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    pointer-events: auto;
}

.m-api-idee-center-panel-bottom-right {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    pointer-events: auto;
}

.m-api-idee-center-panel-top-left,
.m-api-idee-center-panel-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
    pointer-events: auto;
}

.m-api-idee-center-panel-top-right,
.m-api-idee-center-panel-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5em;
    pointer-events: auto;
}

.m-api-idee-center-panel-bottom-left,
.m-api-idee-center-panel-bottom-right {
    justify-content: flex-end;
}

/* Permitir que los controles no se encojan si hay muchos */
.m-api-idee-center-panel>div>* {
    flex-shrink: 0;
}

.m-api-idee-right-panel {
    right: 0;
    box-shadow: -5px 0 10px color-mix(in srgb, var(--idee-color-primary) 30%, transparent);
}

.m-api-idee-left-handle,
.m-api-idee-right-handle {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 48px;
    cursor: ew-resize;
    background-color: white;
    border: 1px solid var(--idee-color-primary);
    border-radius: 4px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    z-index: 4;
}

.m-api-idee-left-handle {
    right: -8px;
    box-shadow: 5px 0 10px color-mix(in srgb, var(--idee-color-primary) 30%, transparent);
}

.m-api-idee-right-handle {
    left: -8px;
    box-shadow: -5px 0 10px color-mix(in srgb, var(--idee-color-primary) 30%, transparent);
}

.m-api-idee-left-handle:hover,
.m-api-idee-right-handle:hover {
    background-color: var(--idee-color-links);
    transition: all 0.3s ease;
}

.m-api-idee-down-panel {
    position: absolute;
    padding: .5em;
    bottom: 0;
    left: 0;
    width: calc(100% - 1em);
    min-height: calc(72px - 1em);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.5em;
}

.m-plugin-panel {
    width: 100%;
    height: 100%;
}

.m-plugin-panel-title {
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: var(--idee-color-primary-dark);
    white-space: normal;
    word-break: break-word;
    text-overflow: ellipsis;
}

.m-plugin-panel-content {
    height: 100%;
    padding: 0 16px;
    overflow-y: auto;
}

button {
    height: 32px;
    color: white;
    background-color: var(--idee-color-primary);
    border: 2px solid var(--idee-color-primary);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    transition: all 0.3s ease;
}

button:hover {
    color: #fff;
    background-color: var(--idee-color-links);
    border: 2px solid var(--idee-color-links);
    transition: all 0.3s ease;
}

button:disabled {
    color: #c5c5c5;
}

button:disabled:hover {
    color: #c5c5c5;
    cursor: default;
}

button.secondary {
    width: 32px;
    height: 32px;
    color: var(--idee-color-primary);
    background-color: #e8ecef;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    transition: all 0.3s ease;
}

button.secondary:hover {
    color: #f1f3f5;
    background-color: var(--idee-color-links);
    transition: all 0.3s ease;
}

button.secondary:disabled {
    color: #c5c5c5;
}

button.secondary:disabled:hover {
    color: #c5c5c5;
    cursor: default;
    transition: all 0.3s ease;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="color"],
textarea {
    margin: 4px;
    padding: 4px;
    height: 32px;
    background-color: transparent;
    cursor: auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #6C6C6C;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="color"] {
    cursor: pointer;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="color"]:hover,
textarea:hover {
    border: 1px solid var(--idee-color-links);
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="color"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--idee-color-primary-dark);
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--idee-color-primary);
    color: #6c6c6c;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="checkbox"]:hover {
    color: var(--idee-color-links);
    accent-color: var(--idee-color-links);
    transition: all 0.3s ease;
}

input[type="radio"] {
    border-color: #6c6c6c;
    appearance: none;
    -webkit-appearance: none;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: scale(1);
    background-color: white;
    vertical-align: middle;
    margin: 0px;
    border: 1px solid #6c6c6c;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="radio"]::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--idee-color-primary-dark);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0px 0px;
    transition: transform 0.3s ease;
}

input[type="radio"]:checked {
    border-color: var(--idee-color-primary-dark);
}

input[type="radio"]:checked::after {
    transform: scale(1) translate(-50%, -50%);
}

input[type="radio"]:hover {
    border-color: var(--idee-color-links);
    transition: all 0.3s ease;
}

input[type="radio"]:hover+label {
    color: var(--idee-color-links);
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="range"] {
    cursor: pointer;
    accent-color: var(--idee-color-primary);
    transition: all 0.3s ease;
}

input[type="range"]:hover {
    accent-color: var(--idee-color-links);
    transition: all 0.3s ease;
}

input[type="range"]:focus {
    outline: none;
}

select {
    cursor: pointer;
    color: #6c6c6c;
    border-radius: 4px;
    background: none;
    border: 1px solid #e9ecef;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    height: 32px;
    transition: all 0.3s ease;
}

select:hover {
    border: 1px solid var(--idee-color-links);
    transition: all 0.3s ease;
}

select:focus {
    outline: none;
    border: 1px solid var(--idee-color-primary-dark);
}

option {
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    cursor: pointer;
}

a {
    color: var(--idee-color-primary);
    transition: all 0.3s ease;
}

a:hover {
    color: var(--idee-color-links);
    transition: all 0.3s ease;
}

a:visited {
    color: var(--idee-color-primary);
    transition: all 0.3s ease;
}

a:visited:hover {
    color: var(--idee-color-links);
    transition: all 0.3s ease;
}

/***********************
     CONTROLES
************************/

.m-control {
    margin: 0;
    padding: 0;
    z-index: 990;
    overflow-y: hidden;
    background-color: transparent;
    border-radius: 4px;
    padding: 2px;
}

.m-control>button {
    color: #404040;
}

div.m-control button[class^="g-cartografia-"],
div.m-control button[class*=" g-cartografia-"] {
    font-size: 28px;
    padding: 8px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.75;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
    color: #404040;
    margin: 0;
}

.ol-overviewmap>button {
    opacity: 0.75;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}

div.m-control.activated button[class^="g-cartografia-"],
div.m-control button[class^="g-cartografia-"]:hover,
div.m-control button[class*=" g-cartografia-"]:hover,
.m-areas>div.m-area>div.m-panel>button.m-panel-btn:hover,
.ol-overviewmap>button:hover {
    opacity: 1 !important;
}

div.m-control button[class^="g-cartografia-"]:focus,
div.m-control button[class*=" g-cartografia-"]:focus,
.m-areas>div.m-area>div.m-panel>button.m-panel-btn:focus {
    outline: none;
}

.m-help-btn,
.m-clear-btn {
    opacity: 0.4 !important;
    font-size: 18px !important;
}

.m-search-btn {
    order: 3;
    padding-right: 8px;
}

.m-help-btn {
    order: 2;
}

.m-clear-btn {
    order: 1;
}

.m-results-btn {
    display: none;
}


/***********************
     LABEL
************************/

.m-label-content {
    white-space: nowrap;
}


/***********************
     INPUTS
************************/


/* TEXT */


@media only screen and (max-width: 768px) {
    .m-wordbreak {
        word-break: break-all;
        white-space: none;
    }
}


/* BUTTON */

button::-moz-focus-inner {
    border: 0;
}


/***********************
     LOADING ANIMATION
************************/

@-moz-keyframes mloading {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes mloading {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes mloading {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/********************************/


/* correcciones tamaño relativo */


/*#map {
	width: 600px !important;
	height: 500px !important;
}*/

.ol-viewport,
.ol-overlaycontainer-stopevent,
.m-areas,
.m-area.m-top.m-right {
    height: inherit !important;
}

.m-panel.m-layerswitcher.opened {
    height: calc(100% - 30px);
}

.m-areas>div.m-area>div.m-panel.m-layerswitcher>div.m-panel-controls {
    height: 100% !important;
    max-height: 100%;
}

.m-attribution {
    left: 3px !important;
    right: inherit !important;
    z-index: 999999;
}

/* IDEE_CONFIG */
/* INCLUSIÓN TEMA IDEE */

/*** CUSTOM THEME COLORS ***/
/*** LIGHT BLUE from Navbar: #71A7D3 ***/
/*** DARK BLUE from Header: #364b5f ***/
/*** ORANGE from Links & h2: #f1832e ***/

/* buttons */

.m-areas>div.m-area>div.m-panel.collapsed>button.m-panel-btn,
.ol-zoom>button,
.m-areas>div.m-area>div.m-panel,
.ol-zoomslider>button.ol-zoomslider-thumb,
.ol-overviewmap.ol-collapsed,
.m-scale-container,
.m-wmcselector-container,
.m-areas>div.m-area>div.m-panel>div.m-panel-controls .m-mouse-position,
.m-areas>div.m-area>div.m-panel.m-geosearch>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-searchstreet>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-searchstreetgeosearch>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-tools>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-edition>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-printer>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-layerswitcher>button.m-panel-btn {
    background-color: #71A7D3 !important;
    opacity: 1;
}

/* white icons */

/* .m-areas>div.m-area>div.m-panel.m-geosearch.collapsed>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-searchstreet.collapsed>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-searchstreetgeosearch.collapsed>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-attributetable.collapsed>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-tools.collapsed>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-edition.collapsed>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-printer.collapsed>button.m-panel-btn,
.m-areas>div.m-area>div.m-panel.m-layerswitcher.collapsed>button.m-panel-btn, */
.m-geosearch.collapsed>button.m-panel-btn,
.m-searchstreet.collapsed>button.m-panel-btn,
.m-searchstreetgeosearch.collapsed>button.m-panel-btn,
.m-attributetable.collapsed>button.m-panel-btn,
.m-tools.collapsed>button.m-panel-btn,
.m-edition.collapsed>button.m-panel-btn,
.m-printer.collapsed>button.m-panel-btn,
.m-layerswitcher.collapsed>button.m-panel-btn,
.ol-zoom>button,
div.m-control button[class*=" g-cartografia-"],
div.m-control button[class^=g-cartografia-],
.ol-overviewmap.ol-collapsed>button,
.ol-overviewmap>button,
.m-wmcselector-select,
.m-wmcselector-container:before,
.m-mouse-position:before,
.m-mouse-position,
.m-scale-container>.m-unit:before,
.m-scale-container {
    color: var(--idee-color-primary);
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
}

.m-geosearch.collapsed>button.m-panel-btn:hover,
.m-searchstreet.collapsed>button.m-panel-btn:hover,
.m-searchstreetgeosearch.collapsed>button.m-panel-btn:hover,
.m-attributetable.collapsed>button.m-panel-btn:hover,
.m-tools.collapsed>button.m-panel-btn:hover,
.m-edition.collapsed>button.m-panel-btn:hover,
.m-printer.collapsed>button.m-panel-btn:hover,
.m-layerswitcher.collapsed>button.m-panel-btn:hover,
.ol-zoom>button:hover,
div.m-control button[class*=" g-cartografia-"]:hover,
div.m-control button[class^=g-cartografia-]:hover,
.ol-overviewmap.ol-collapsed>button:hover,
.ol-overviewmap>button:hover,
.m-wmcselector-select:hover,
.m-wmcselector-container:before:hover,
.m-mouse-position:before:hover,
.m-mouse-position:hover,
.m-scale-container>.m-unit:before:hover,
.m-scale-container {
    color: var(--idee-color-primary-links) !important;
}

.m-left .m-panel.opened div.m-control button[class^=g-cartografia-] {
    color: #364b5f !important;
    background-color: white !important;
    opacity: 1;
}

/* secondary color */

.m-printer-container>div.button {
    background-color: #364b5f !important;
}

/* aditional colors */

.m-panel .title {
    color: #f1832e !important;
}

.ol-zoomslider>button.ol-zoomslider-thumb {
    border: 2px solid white;
}

.m-areas>div.m-area>div.m-panel.opened {
    background-color: #fff !important;
}

.m-wmcselector-select,
.m-areas>div.m-area>div.m-panel.m-scaleline {
    background-color: transparent !important;
}

/* corrections */

.m-areas>div.m-area>div.m-panel>div.m-panel-controls {
    border-radius: 0;
}

.m-areas>div.m-area>div.m-panel.opened.m-location,
/* .m-areas>div.m-area>div.m-panel.opened.m-rotate, */
.m-areas>div.m-area>div.m-panel.opened.m-geosearchbylocation {
    background-color: #71A7D3 !important;
}

.layer .m-title {
    color: #6c6c6c !important;
}

.m-popup table {
    color: #6c6c6c !important;
}

.m-popup .m-content {
    min-width: 250px;
}

div.m-control button[class^="g-cartografia-"] {
    opacity: 1;
}

.ol-overviewmap:not(.ol-collapsed) button {
    background-color: #71A7D3 !important;
}

.m-control.m-getfeatureinfo-container.activated>button#m-getfeatureinfo-button {
    color: #71A7D3 !important;
}

.m-control.m-getfeatureinfo-container:not(.activated)>button#m-getfeatureinfo-button {
    color: #888888 !important;
}

.m-areas>div.m-area>div.m-panel.m-tools {
    order: -65;
}

.m-panel.m-layerswitcher.opened {
    height: calc(100% - 70px);
}

.m-areas>div.m-area>div.m-panel.m-layerswitcher>div.m-panel-controls {
    max-width: 33vw;
}

@media only screen and (max-width: 768px) {
    .m-popup .m-content {
        width: 100%;
    }

    .m-areas>div.m-area>div.m-panel.m-layerswitcher>div.m-panel-controls {
        max-width: 100vw;
    }

    .m-areas>div.m-area>div.m-panel.m-layerswitcher button.m-panel-btn.g-cartografia-flecha-derecha {
        color: #fff;
    }

}