<div>
  <h2 style="text-align: center; color: #fff; background-color: #364b5f; padding: 8px 10px;">ROTATE</h2>
  <div>
    <p>{{translations.help1}}</p>
    <img src="{{urlImages}}/rotate-cesium.png" style="margin: 0 auto; display: block">
    <p>{{translations.help2}}</p>
    <img src="{{urlImages}}/rotate-exterior.png" style="margin: 0 auto; display: block">
    <p>{{translations.help3}}</p>
    <p>{{translations.help4}}</p>
    <img src="{{urlImages}}/rotate-interior.png" style="margin: 0 auto; display: block">
    <p>{{translations.help5}}</p>
    <img src="{{urlImages}}/rotate-help.png" style="margin: 0 auto; display: block; margin-bottom: 12px">
  </div>
</div>